<div class="container px-4">


  <div class="my-5 flex justify-center gap-3">
    <div class="flex gap-2 flex-wrap">
      <button (click)="file.click()" class="btn primary">
        <input #file type="file" hidden (change)="openFile($event,'priceList')">
        استيراد قائمة اسعار
      </button>
      <button (click)="download('priceList')" class="btn primary">تحميل قائمة اسعار</button>
      <button (click)="patientsfile.click()" class="btn primary">
        <input #patientsfile type="file" hidden (change)="openFile($event,'patients')">
        استيراد قائمة المرضى
      </button>
      <button (click)="download('patients')" class="btn primary">تحميل قائمة المرضى</button>
    </div>

  </div>
</div>