<div class="px-4 flex gap-4 flex-col items-center print:mb-3" *ngIf="patients.length">
  تقرير عن المرضي من تاريخ
  <div>
    <ng-container *ngIf="!date">
      <span class="bg-blue-50 rounded-lg p-2 text-blue-500">{{reportDate.from}}</span>
      الى
      <span class="bg-blue-50 rounded-lg p-2 text-blue-500">{{reportDate.to}}</span>
    </ng-container>
    <ng-container *ngIf="date">

      <span class="bg-blue-50 rounded-lg p-2 text-blue-500">{{reportDate.to}}</span>
    </ng-container>
  </div>
</div>

<div class="no-print py-3  my-2 mx-4 items-end flex justify-between gap-2">
  <div class="flex items-end gap-2">
    <div class="form-group">
      <label>التاريخ</label>
      <div>
        <input type="date" placeholder="اختر التاريخ" name="date" [ngModel]="chosenDate"
          (ngModelChange)="changeDate($event)">
      </div>
    </div>
    <button *ngIf="date" (click)="date=null" class="btn primary aspect-auto">
      حذف الفلتره
    </button>
    <div *ngIf="date" class="p-2 bg-orange-100 rounded-lg">
      عرض النتائج الخاصة بيوم {{date}}
    </div>
  </div>
  <div class="flex gap-2">
    <button (click)="generateExcel()" class="btn primary flex gap-2 items-center">
      <span>Excel</span>
      <fa-icon [icon]="excel"></fa-icon>
    </button>
    <button (click)="print()" class="btn primary flex gap-2 items-center">
      <span>PDF</span>
      <fa-icon [icon]="pdf"></fa-icon>
    </button>

  </div>
</div>

<div class="data-tabel px-4" *ngIf="patients.length">
  <div>
    <table>
      <thead>
        <tr>
          <td>اسم المريض</td>
          <td>السن</td>
          <td>الطبيب</td>
          <td>اجمالى الحساب</td>
          <td>خصم</td>
          <td>مدفوع</td>
          <td>باقي</td>
          <td>التاريخ</td>
          <td>التحاليل المطلوبه</td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let patient of patients ;let i = index">
          <tr [hidden]="date != patient.date && date" (click)="openEditModal(i,patient)">
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.doctorName}}</td>
            <td>{{patient.total}}</td>
            <td>{{patient.disscount}}</td>
            <td>{{patient.pay}}</td>
            <td>
              <span
                class="p-1 px-2 rounded-lg {{(patient.total - patient.pay - patient.disscount) ? 'text-red-500 bg-red-100':''}}">
                {{patient.total - patient.pay - patient.disscount}}
              </span>
            </td>
            <td>
              {{patient.date | date:'d/M/yy'}}
            </td>
            <td>
              <ng-container *ngFor="let test of patient.tests">
                <span class="text-xs">
                  {{test.name}}
                </span>
                <br>
              </ng-container>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>

  </div>
</div>

<div *ngIf="!patients.length" class="p-3  mx-4 text-center rounded-lg bg-blue-50">
  لم تتم اضافة اي مريض
</div>

<!-- modals -->
<div *ngIf="modal.type" class="modal">
  <!-- button to close modal -->
  <button [@fade] (click)="resetModal()"></button>
  <div [@uReveal]>
    <!-- modal header -->
    <div>
      <h3>{{modal.data.name}}</h3>
      <button (click)="resetModal()">
        <fa-icon [icon]="x_icon"></fa-icon>
      </button>
    </div>
    <!-- modal data  -->
    <form *ngIf="modal.type == 'edit'" #editPetient="ngForm">
      <hr>


      <div class="my-2" *ngIf="modal.data.total - modal.data.disscount - modal.data.pay">
        <input type="checkbox" id="done" #done
          (change)="done.value ? modal.data.pay = +modal.data.pay +  (+modal.data.total - +modal.data.disscount - +modal.data.pay):'' ">
        <label class="px-3 cursor-pointer" for="done">خالص</label>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <div class="form-group flex-grow">
          <label>مدفوع</label>
          <div>
            <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              #pay="ngModel" ngModel name="pay" [(ngModel)]="modal.data.pay" type="text" placeholder="المبلغ المدفوع">
          </div>
        </div>
        <div class="form-group flex-grow">
          <label>الخصم</label>
          <div>
            <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              #disscount="ngModel" ngModel name="disscount" type="text" [(ngModel)]="modal.data.disscount"
              placeholder="الخصم">
          </div>
        </div>
        <div class="form-group flex-grow">
          <label>الباقي</label>
          <div>
            <input readonly [value]="modal.data.total - modal.data.disscount - modal.data.pay" type="text">
          </div>
        </div>
      </div>

      <div class="data-tabel mt-4 w-full " *ngIf="modal.data.tests.length">

        <div class="max-h-80">
          <table>
            <thead>
              <tr>
                <td class="w-100">التحليل</td>
                <td>السعر ({{modal.data.total}})</td>
                <td>
                  حذف
                </td>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let test of modal.data.tests;let l =index">
                <td>{{test.name}}</td>
                <td>{{test.price}}</td>
                <td>
                  <button (click)="remove(l)" class="btn error">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <hr>
      <div class="buttons">
        <button class="btn" (click)="resetModal()">الرجوع</button>
        <div class="flex gap-2">
          <button type="button " class="btn text-red-500" (click)=" modal.type='delete'">
            <span>حذف</span>
          </button>
          <button type="button" class="btn text-blue-500" (click)=" modal.type='add'">
            <span>اضافة تحاليل</span>
          </button>
          <button class="btn primary" type="button" [disabled]="editPetient.invalid" (click)="edit()">
            <span>حفظ</span>
          </button>

        </div>
      </div>
    </form>
    <form *ngIf="modal.type == 'add'" #addTests="ngForm">

      <ng-container *ngIf="modal.data.tests.length">
        <div class="data-tabel mt-3">

          <div class="max-h-44">
            <table>
              <thead>
                <tr>
                  <td>التحليل</td>
                  <td>السعر ({{modal.data.total}})</td>
                  <td> حذف</td>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let req of modal.data.tests;let i =index">
                  <td>{{req.name}}</td>
                  <td>{{req.price}}</td>
                  <td>
                    <button (click)="remove(i)" class="btn error">
                      <fa-icon [icon]="deleteIcon"></fa-icon>
                    </button>
                  </td>
                </tr>


              </tbody>

            </table>
          </div>
        </div>

      </ng-container>
      <form #loginForm="ngForm" class="flex gap-2 flex-wrap py-2 border-y my-2">
        <div class="form-group flex-grow">
          <label for="code">كود التحليل</label>
          <div>
            <input id="code" type="text" placeholder="كود التحليل" [(ngModel)]="searchCode"
              (ngModelChange)="searchName = ''" name="code" (keydown)="addWithEnter($event,searchCode,'code')">
          </div>
        </div>
        <div class="form-group flex-grow">
          <label for="Name">اسم التحليل</label>
          <div>
            <input id="Name" type="text" placeholder="اسم التحليل" (keydown)="addWithEnter($event,searchName,'name')"
              [ngModel]="searchName | lowercase" (ngModelChange)="searchName = $event ; searchCode = ''" name="name">
          </div>
        </div>
      </form>


      <div class="data-tabel">
        <div class="max-h-48">
          <table>
            <thead>
              <tr>
                <td style="width: 100%;">التحليل</td>
                <td>السعر</td>
                <td>اضافة</td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let test of tests">
                <tr
                  [hidden]="(searchCode != test.code && searchCode != '' && searchName == '' ) || ( !test.name.toLowerCase().includes(searchName)  && searchName != '' && searchCode == '' )">
                  <td class="w-32">{{test.name}}</td>
                  <td>{{test.price}}</td>
                  <td>
                    <button class="primary btn" (click)="add(test)" [disabled]="isDublicate(test,modal.data.tests)">
                      <fa-icon [icon]="addIcon"></fa-icon>
                    </button>
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>

        </div>
      </div>
      <hr>
      <div class="buttons">
        <button class="btn" type="button" (click)="modal.type='edit'">عوده</button>
        <div class="flex gap-2">
          <button class="btn primary" (click)="edit()">
            <span>حفظ</span>
          </button>
        </div>
      </div>
    </form>
    <form *ngIf="modal.type == 'delete'" #addTests="ngForm">

      <span class="text-xl text-red font-bold block mt-3 text-red-500"> هل تريد بالتاكيد حذف الزيارة</span>
      <hr>
      <div class="buttons">
        <button class="btn" type="button" (click)="modal.type='edit'">عوده</button>
        <div class="flex gap-2">
          <button class="btn error" (click)="delete()">
            <span>حذف</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>