<div class="container">
  <form *ngIf="patients.length" #loginForm="ngForm" class="flex gap-2 no-print flex-wrap my-4 px-4">
    <div class="form-group flex-grow">
      <label for="code">كود المريض</label>
      <div>
        <input id="code" type="text" placeholder="كود المريض" [(ngModel)]="searchCode" (ngModelChange)="searchName = ''"
          name="code">
      </div>
    </div>
    <div class="form-group flex-grow">
      <label for="Name">اسم المريض</label>
      <div>
        <input id="Name" type="text" placeholder="اسم المريض" [ngModel]="searchName"
          (ngModelChange)="searchName = $event ; searchCode = ''" name="name">
      </div>
    </div>
  </form>

  <div class="data-tabel px-4" *ngIf="patients.length">
    <div>
      <table>
        <thead>
          <tr>
            <td>الكود</td>
            <td>اسم المريض</td>
            <td>السن</td>
            <td>التحاليل المطلوبه</td>
            <td>الحالة</td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let patient of patients ;let i = index">
            <tr
              [hidden]="(searchCode != patient.code && searchCode != '' && searchName == '' ) || ( !patient.name.includes(searchName)  && searchName != '' && searchCode == '' )">
              <td>{{patient.code}}</td>
              <td>
                <div class="flex gap-2">
                  <button class="btn" (click)="copy(patient.name)">
                    <fa-icon icon="copy"></fa-icon>
                  </button>
                  <div>
                    {{patient.name}}
                    <br>

                    <a class="text-blue-500" *ngIf="patient?.phone"
                      href="https://wa.me/+2{{patient?.phone}}">{{patient?.phone}}</a>

                  </div>

                </div>

              </td>
              <td>
                {{patient?.age}}
              </td>
              <td>
                <ng-container *ngFor="let test of patient.tests">
                  <span class="text-blue-500">({{test.code}})</span>
                  {{test.name}}
                  <br>
                </ng-container>
              </td>
              <td>
                <span
                  class="p-1 rounded-md text-xs {{patient.done ? 'bg-green-200 text-green-800':'bg-red-200 text-red-800'}}">
                  {{patient.done ? 'مستلم':'لم يستلم'}}
                </span>
              </td>
            </tr>

          </ng-container>
        </tbody>
      </table>

    </div>
  </div>

  <div *ngIf="!patients.length" class="p-3  mx-4 text-center rounded-lg bg-blue-50">
    لم تتم اضافة اي مريض
  </div>

</div>